#content{
    text-align: center;
    padding-top: 20%;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.2),
    0px 4px 3px rgba(0, 0, 0, 0.1);
    
}
body{
    background:url(cat.jpg);
    background-size: cover;
    background-position: center;
}
hr{
    width: 47rem;
}
